In [1]:
import pandas as pd 
df = pd.read_excel("data_bayes.xlsx")
df

     ti   ci drug
0   5.1  3.5    X
1   4.9  3.0    X
2   4.7  3.2    X
3   4.6  3.1    X
4   7.0  3.2    Y
5   6.4  2.9    Y
6   6.9  3.1    Y
7   5.5  2.3    Y
8   6.3  2.5    Z
9   6.5  3.0    Z
10  6.2  3.4    Z
11  5.9  3.0    Z

In [2]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(df, test_size=0.4, random_state=16)

df_train

     ti   ci drug
10  6.2  3.4    Z
4   7.0  3.2    Y
3   4.6  3.1    X
1   4.9  3.0    X
5   6.4  2.9    Y
11  5.9  3.0    Z
9   6.5  3.0    Z

In [3]:
df_train.mean()

ti    5.928571
ci    3.085714
dtype: float64

In [4]:
df_train.std()

ti    0.875051
ci    0.167616
dtype: float64

In [5]:
df_train.groupby("drug").mean()

        ti        ci
drug
X     4.75  3.050000
Y     6.70  3.050000
Z     6.20  3.133333

In [7]:
df_train.groupby("drug").std()

            ti        ci
drug
X     0.212132  0.070711
Y     0.424264  0.212132
Z     0.300000  0.230940

In [ ]:
# Giả sử các phân phối trên từng đặc trưng theo từng nhóm drug là Gaussian Distribution (or Normal Distribution) # Hướng dẫn sinh viên phân lớp [ti, ci] = [6.9, 3.1] theo Naive Bayes Gaussian Distribution

# Lần lượt tính

# pclassX = [P(thuốc = X) *P(6.9 thuốc = X)* P(3.1 thuốc = X)]/[P(6.9)*P(3.1)]

# pclassy = P(thuốc = Y) *P(6.9 thuốc = Y)* P(3.1 thuốc = Y)/[P(6.9)*P(3.1)]

# pclassZ = P(thuốc = Z)*P(6.9 thuốc = Z)* P(3.1 thuốc = Z)/[P(6.9)*P(3.1)]

# class_predicted = argmax(pclassX, pclassy, ​​pclassZ)

In [9]:
import math

def GaussianProb(x_value, g_mean, g_std): 
    x1 = 1/math.sqrt(2*math.pi*g_std*g_std)

    exp1 = math.exp(-0.5*((x_value  -g_mean)/g_std)**2)

    return x1*exp1

In [12]:
pclassX = (2/7)*GaussianProb(6.9,4.75,0.212132) *GaussianProb(3.1,3.050000,0.070711)
pclassx = pclassX/(GaussianProb(6.9,5.928571,0.875051) *GaussianProb(3.1,3.085714,0.167616)) 
print(pclassX)

pclassy = (2/7)*GaussianProb(6.9,6.7,0.424264) *GaussianProb(3.1,3.050000,0.212132)
pclassY = pclassY/(GaussianProb(6.9,5.928571,0.875051) *Gaussian Prob(3.1,3.085714,0.167616)) 
print(pclassY)

pclassZ = (3/7) *GaussianProb(6.9,6.2,0.3)*GaussianProb(3.1, 3.133333,0.230940)
pclassZ=pclassZ/ (GaussianProb(6.9,5.928571,0.875051) *GaussianProb(3.1,3.085714,0.167616)) 
print(pclassZ)

import numpy as np
maxvalue = np.max([pclassX, pclassy, pclassZ])

print('Max Prob=', maxvalue)

SyntaxError: invalid syntax (<ipython-input-12-26bf044c03ac>, line 6)